<!DOCTYPE html>
<html ng-app="PasswordApp">
	<head>
		<title>Avaliador de Senhas</title>
		
		<script src="scripts/libs/angular.min.js"></script>
		
		<script src="scripts/libs/angular.resource.min.js"></script>
		
		<script src="scripts/password.controller.js"></script>
		
		<link rel="stylesheet" type="text/css" href="css/style.css">
		
				<link rel="stylesheet" type="text/css" href="css/bootstrap/bootstrap-grid.min.css">
				<link rel="stylesheet" type="text/css" href="css/bootstrap/bootstrap.min.css">
		
		<script src="scripts/libs/bootstrap/bootstrap.min.js"></script>
		
	</head>
  <body ng-controller="PasswordController" style="font-family: muktaRegular">
   	<form name="passForm">
		<div class="container">		
			<div class="row">
				<div class="myTitle col-md-12">
					AVALIADOR DE SEGURANÇA DE SENHAS		
				</div>
							
			</div>
			
			<div class="jumbotron">		
				<div class="row">
					<input name="pass" ng-class="((passForm.$submitted) && !passForm.pass.$valid)?'has-error':''" class="form-control mr-sm-12" 
					ng-required="true" placeholder="Senha" type ="password" ng-model="myPasswrod"/> 
				</div>
				
				
				<div style="margin-top:10px;" class="row">
					<div class="percentageBox text-center col-md-6 ">
						<div class="pad">Porcentagem</div>
					</div>
					<div class="weakStrengthBox text-center col-md-6 ">
						<div class="pad">Força</div>
					</div>
				</div>
				
					<button ng-click="validatePassword(passForm);">Validate</button>
			</div>
		</div>
		</form>
  </body>  
</html>